# Core
numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
scikit-learn==1.5.2
scikit-image==0.24.0
numexpr==2.10.2
numba==0.60.0
networkx==3.4.2

# Plotting / utils
matplotlib==3.9.2
imageio==2.36.0
xarray==2024.11.0
xarray-einstats==0.8.0

# Probabilistic / MCMC tools
arviz==0.20.0
Theano==1.0.5

# Jupyter (optional)
nbformat==5.10.4
nbclient==0.10.0
nbconvert==7.16.4
